/* Body */

* {
    font-family: 'Kanit', sans-serif;
    color: #fff;
}

body {
    background-color: #060607;
}

main {
    width: 60%;
    margin: auto;
}

/* Nav Bar */

li {
    list-style: none;
}

.szoveghatter {
    background-color: #6978c2; 
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #363f6b;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #363f6b;
    border-radius: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
}

.navbar .nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}

article {
    background-color: #363f6b;
    border-radius: 10px;
    padding: 20px;
}

article div {
    display: flex;
    margin: 20px 0; /* Függőleges margó a div-ek között */
    background-color: #6978c2;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.elsokep {
    float: left;
}

img {
    width: 350px;
    margin-right: 20px;

}

.belsoresz {
    transition: transform 0.3s ease;
    position: relative; 
}

.belsoresz:hover {
    transform: scale(1.1); 
}


@media (max-width: 992px) {
    .navbar .nav ul {
        display: none;
    }
    
    .navbar .menu {
        display: flex;
    }
    
    .navbar .menu i {
        display: inline-block;
    }
    
    .navbar .highlight {
        display: none;
    }
}